.quote-container {
    margin-top: 1rem;
    padding-top: 1rem;
    background: skyblue;
    border-radius: 10px;
}

.quote {
    padding: 1rem 2rem 2rem 2rem;
}

h1, h2 {
    margin: 1rem 5rem 0 5rem;
    font-family: 'Bakbak One', cursive;
}

h2 {
    color: navy;
}

button {
    margin: 1rem 0 0 7rem;
    height: 2rem;
    width: 4rem;
    border: #ccc;
    border-radius: 4px;
}  
